.part, .character {
	position: absolute;
}

#preview {
	top: 0px;
}

#fpreview {
	bottom: 0px;
}

.preview {
	position: fixed;
	width: 100%;
	z-index: -1;
}

* {
	z-index: 0;
}

.part {
	overflow: hidden;
}

.character {
	top: 0px;
}

.spacer, .preview {
	height: 128px;
}

.expander:not(:checked) ~ .expanding {
	overflow: hidden;
	height: 0px;
}

.border {
	border: solid black 2px;
	margin: 1ex 1ex;
	padding: 1ex 1ex;
	border-radius: 1ex;
}

.box {
	border: solid blue 2px;
	position: absolute;
	padding: 2px 2px;
}

.selectedcell {
	border: solid red 1px;
	position: absolute;
	z-index: 10;
}

.cell {
	border: dotted grey 1px;
	position: absolute;
	z-index: 1;
}

.container {
	position: relative;
}

input[type=number] {
	width: 8ex;
}

td, th {
	margin: 1ex 1ex;
	background: rgba(0, 0, 0, 0.04);
}

.invisible {
	display: none;
}
